:root {
  --primary-color: #000000;
  --secondary-color: #ffffff;
  --accent-color: #ff6f61;
  --font-family: "Inter", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  scrollbar-width: none;
  -ms-overflow-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 8px 100px;
  align-items: center;
  border-radius: 8px;
  width: 85%;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

header::selection {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

header img {
  background-color: rgba(124, 124, 124, 0.1);
  padding: 6px;
  border-radius: 50px;
}

.logo {
  font-size: 24px;
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 700;
}

.nav-menus {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.nav-menus li {
  list-style: none;
}

.nav-menus li a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 6px;
  transition: background-color 0.3s ease-in-out;
}

main {
  margin: 100px auto auto auto;
  width: 90%;
}

.hero {
  height: 600px;
  position: relative;
  overflow: hidden;
  width: 90vw;
  margin: auto;
}

.intro-text {
  font-size: 1.2rem;
  width: 600px;
  font-family: "JetBrains Mono", monospace;
  letter-spacing: -0.5px;
}

.separators {
  display: flex;
  gap: 6px;
  margin-top: 12px;
  margin-bottom: 24px;
}

.separator {
  width: 250px;
  height: 2px;
  border-bottom: #000000 2px solid;
  display: block;
}
.separator:nth-child(2) {
  width: 60px;
}
.separator:nth-child(3) {
  width: 10px;
}

.intro-text p::selection {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.intro-text span::selection {
  color: var(--secondary-color);
}
.intro-text i::selection {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.intro-text p span {
  padding: 0 6px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-weight: 600;
}

.first-row {
  display: flex;
  align-items: center;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100px;
}

.second-row {
  display: flex;
  align-items: center;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 250px;
}

.first-row h1 {
  font-size: 12rem;
  font-weight: 900;
  font-family: var(--font-family);
  margin: 0;
  color: transparent;
  -webkit-text-stroke: 1px var(--primary-color);
}

.second-row h1::selection {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.second-row h1 {
  font-size: 12rem;
  font-weight: 900;
  font-family: var(--font-family);
  margin: 0;
}

.first-row h1::selection {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
.about {
  gap: 40px;
  text-align: center;
}

.about::selection {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.container-video {
  margin-top: 100px;
  border-radius: 12px;
  position: relative;
  height: 500px;
  width: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
}

.container-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.separator-text::selection {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.separator-text {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 30px 0 20px 0;
}

.about h1 {
  font-size: 36px;
  margin: 0;
  font-weight: 700;
  margin-bottom: 20px;
}

.about p {
  font-size: 18px;
  line-height: 1.6;
  font-family: "JetBrains Mono", sans-serif;
  color: #494242;
  width: 70%;
  margin: auto;
}

.about a {
  text-decoration: none;
  font-size: 18px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: #999999 2px solid;
  padding: 10px 20px;
  border-radius: 50px;
  display: inline-block;
  margin-top: 20px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.about a span {
  display: inline;
  margin-left: 0;
  transition: margin-left 0.3s ease-in-out;
}

.about a:hover span {
  margin-left: 10px;
}

.projects-section {
  margin-bottom: 5rem;
}

.swipable-projects {
  margin-top: 50px;
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding-bottom: 10px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.swipable-projects::selection {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.swipable-projects h2 {
  font-size: 24px;
  margin: 0;
  font-weight: 700;
}

.swipable-buttons {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.swipable-buttons button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: var(--primary-color);
  font-family: "Inter", sans-serif;
  border: none;
  border: 1px solid #bbbbbb;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.swipable-buttons button:hover {
  background-color: #f0f0f0;
}

.projects::selection {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.projects {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding-bottom: 10px;
  scroll-behavior: smooth;
}

.project-card {
  width: 350px;
  flex-shrink: 0;
  border-radius: 12px;
}

.skeleton-image {
  width: 100%;
  height: 400px;
  background-color: #e0e0e0;
  margin-bottom: 10px;
  display: block;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60vh;
  background-color: #000000;
  color: #ffffff;
}

.contact::selection {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.contact h1 {
  font-size: 48px;
  padding: 0;
  margin: 0 0 0 -20px;
}

.contact p {
  font-family: "JetBrains Mono", sans-serif;
  color: #bbbbbb;
}

.contact a {
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #000000;
}

.contact a:hover {
  background-color: #000000;
  color: #ffffff;
  border: 2px solid #ffffff;
}



footer {
  text-align: center;
  font-size: 14px;
  color: #777777;
  background-color: #000000;
}


footer p {
  padding: 20px 0;
  margin: 0;
  color: #bbbbbb;
}

footer p::selection {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

